html {
  overflow-y: scroll;
}
.posts_div {
    font-family: Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", "Meiryo", serif;
    font-size: 15px;
    line-height: 1.5;
}

#home_header span {
    font-size: 28px !important;
    color: #fff !important;
}

.nav_elems1 li a,
.nav_elems2 li a {
    color: #fff !important;
}

.navbar {
    border-radius: 0px !important;
}


/*search bar css*/

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    color: black;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: black;
}

input::-webkit-input-placeholder {
    color: black;
}


/*search bar styles ending*/

.nav_elems1 {
    margin-left: 30%;
    margin-top: 20px !important;
}

.signup_panel,
.signin_panel {
    margin: 3% 15% 5% 15%;
}

.signup_blk,
.signin_blk {
    text-align: center;
    padding: 3%;
}

.signup_blk div input,
.signin_blk div input {
    margin-top: 1%;
    padding: 5px;
    width: 30%;
    border: 1px solid #ddd;
}

.signin_btn,
.join_btn {
    padding: 5px 20px;
}

.nav_elems1 li a.main_tabs {
    margin-top: 10px !important;
    outline: none;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 20px;
}

.nav_elems2 li a.nav2_tabs {
    margin-top: 20px !important;
    margin-bottom: 10px;
}

.nav_elems3 li a.nav2_tabs {
    /*	margin-top: 20px;*/
}

.nav_elems3 {
    margin-right: 5px;
}

.navbar-nav > li > a {
    padding-top: 2px !important;
    padding-bottom: 0px !important;
}

.alert-danger {
    width: 30%;
    margin-left: 35%;
}

.alert-success {
    width: 45%;
    margin-left: 27%;
}

#username {
    color: #fff !important;
    cursor: pointer;
    padding-bottom: 1px;
}

.nav_elems3 .open #username,
.nav_elems3 .open #username:focus,
.nav_elems3 .open #username:hover,
.nav_elems3 .open #username:active {
    background-color: transparent !important;
}

#follow_btn {
    border-radius: 0px !important;
    border-radius: 0px !important;
    padding: 5px 20px;
    display: inline-block;
    width: 100px;
    border: 1px solid #ddd;
    outline: 0;
    font-size: 15px;
    font-weight: 600;
}

#follow_btn.active {
    background-color: #d9534f !important;
    box-shadow: none;
    border: 1px solid #d9534f;
    color: #fff;
}

#u_email,
#u_mobile,
#u_city,
#u_country,
#u_about {
    font-size: 14px !important;
}

body {
    background-color: #eee;
}


/*#edit_profile_blk {
	margin-left: 32%;
}*/

#edit_profile_blk input {
    border: none;
    border-bottom: 1px solid #ccc !important;
    margin-top: 5%;
    padding: 2px;
}

#edit_profile_blk input,
#edit_profile_blk select {
    width: 253%;
}

#edit_profile_blk textarea {
    width: 72%;
}

edit_prifle {}

.btn {
    border-radius: 0px !important;
}

#file_input,
#post_file {
    display: none;
}

.recent_topics li {
    list-style: none;
    padding: 5px;
    /*    margin-top: 4%;*/
    font-size: 17px;
    cursor: pointer;
}

#posts_left_block {
    width: 20%;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding-bottom: 15px;
    border-radius: 3px;
    padding-top: 15px;
}

#posts_left_block a {
    color: #333 !important;
}

#posts_left_block a.tab_active {
    color: #337ab7 !important;
}

#posts_left_block ul.recent_topics {
    padding-left: 0;
}

#create_post_blk {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.tab_active {
    color: #fff !important;
    border-bottom: 2px solid #fff !important;
}

.posts_div {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 12px;
    margin-top: 2%;
    border-radius: 3px;
}

.red-color {
    color: red;
}

.home-fa-icons {
    font-size: 20px;
    margin-left: 1%;
    color: #787171;
    cursor: pointer;
}

#write_post {
    color: #fff !important;
    /*	margin-top: 20px;*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 20px;
    padding-bottom: 0px !important;
}

.btn {
    background-color: #eceaea !important;
}

.like_active .home-fa-icons {
    color: #2774c9;
}

.dis_like_active .home-fa-icons {
    color: #c55454;
}

.fav_active .home-fa-icons {
    color: orange;
}

.share_active .home-fa-icons {
    color: #2890d1;
}

.glp_edit,
.glp_delete {
    cursor: pointer;
    color: #999;
}

.del_icon {
    position: absolute;
    cursor: pointer;
    background-color: #504d4e;
    color: #fbeaea;
    padding: 3px;
    border-radius: 11px;
    margin-left: -11px;
    margin-top: -8px;
    font-size: 12px;
}

.media_div img {
    border: 3px solid #504d4e;
}

.cmnts_blk {
    margin-top: 1%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.cmnt_tag {
    cursor: pointer;
}

.cmnt_input {
    border-radius: 18px;
    border: 1px solid #ccc;
    width: 60%;
    height: 30px;
    background-color: #bfcace;
    padding: 10px;
}

.topics_ul li {
    list-style: none !important;
}

.topics_ul .alphabets_li {
    font-weight: bold;
    margin-bottom: 1%;
    border-bottom: 1px solid;
    width: 3%;
    font-size: 20px;
}

.topics_ul .date_li {
    font-weight: bold;
    margin-bottom: 1%;
    border-bottom: 1px solid;
    width: 12%;
    font-size: 17px;
}

.topics_ul .topics_li {
    font-size: 16px;
    cursor: pointer;
    width: 20%;
    margin-left: 2%;
}

.topics_ul .topics_li:hover {
    text-decoration: underline;
    color: #196ae1;
    font-weight: bold;
}

.jssocials-share-link {
    border-radius: 50%;
}

.sort_active {
    border-bottom: 2px solid;
    font-weight: bold;
}

.cmnts_ul li {
    list-style: none;
}

.cmnts_ul li .cmnt_div {
    background-color: #e1e6ea;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-left: -9%;
    width: fit-content;
    border-radius: 20px;
}
.like_dislike_cmnt {
    margin-left: -8%;
}
.like_dislike_cmnt span {
    font-size: 13px;
    cursor: pointer;
}
.like_dislike_cmnt span:hover {
    color: #365899;
    text-decoration: underline;
}
.like_dislike_cmnt .home-fa-icons {
    font-size: 14px !important;
}
.like_dis_active .home-fa-icons {
    color: #5f92f5;
}

.cmnts_ul .cmnt_user {
    font-weight: bold;
    color: #365899;
}

.post_title:hover {
    text-decoration: underline;
    cursor: pointer;
}
.progress_bar {
    width: 25%;
    position: relative;
    margin: auto;
    margin-top: -30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 20px 0px 20px;
    background-color: ivory;
}
.attch_badge {
    background-color: #737171 !important;
    border: 1px solid #b1a8a8;
    border-radius: 5px;
    cursor: pointer;
}
.left_blk_ul li {
    list-style: none;
    list-style: none;
    padding: 5px;
    font-size: 17px;
    margin-left: -23%;
}

.show-m,
.search-m {
    display: none;
}

ul.nav-main {
    /*    margin-left: -50%;*/
}

.navbar-brand {
    height: auto;
}

.navbar-nav.nav-main > li > a {
    padding: 0;
}
.navbar-nav.nav-main > li > a {
    border-bottom: 2px solid transparent;
}

.navbar-nav.nav-main > li {
    margin: 0 15px;
}

.btn-primary {
    background: #000;
    color: #fff;
}

.navbar-container.navbar-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar-container.navbar-login .navbar-header {
    width: auto;
}

.navbar-login .nav_elems2 li a.nav2_tabs {
    margin-top: 0 !important;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-header span,
.profile-header button,
.profile-header a {
    margin-right: 15px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 !important;
    width: 100%;
}

.rating .rat-left,
.rating .rat-right {
    width: 50%;
}

.rating .rat-left span,
.rating .rat-right span {
    margin: 0 5px;
}

.rating .rat-right {
    text-align: right;
}

img.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

span.posted_date,
span.p_topics {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
}

.p-0 {
    padding: 0;
}

.post_title {
    font-size: 18px;
}

#posts_left_block p {
    font-size: 18px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

div#post_desc_blk_2 {
    padding-bottom: 15px;
}

.upload_profile_pic {
    width: 142px;
    height: 142px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.25), inset 1px 0 0 rgba(0, 0, 0, 0.25), inset -1px 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.link-container {
    position: relative;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 12px;
    margin-top: 2%;
    border-radius: 3px;
}

.link_act_btns {
    position: absolute;
    top: 10px;
    right: 10px;
}

.link_act_btns a {
    margin: 0 3px
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #ddd;
    color: #333;
}

a.inactive-user {
    color: #333;
    cursor: auto;
    text-decoration: none;
}

.jssocials-share-facebook .jssocials-share-link,
.jssocials-share-twitter .jssocials-share-link,
.jssocials-share-googleplus .jssocials-share-link,
.jssocials-share-whatsapp .jssocials-share-link,
.jssocials-share-linkedin .jssocials-share-link {
    background: transparent !important;
    padding: 5px;
}

img.jssocials-share-logo {
    width: 35px !important;
    height: 35px !important;
}

.jssocials-share {
    margin: 0 !important;
}

#user_following_div_blk .posted_by,
#user_followers_div_blk .posted_by {
    margin: 6px 0;
    display: flex;
    align-items: center;
}
.num-of-followers {
    margin: 10px 0;
}
.num-of-followers span{
    font-weight: bold;
}
div#user_dd {
    min-width: 80px;
    display: inline-block;
}
    #change_pass_form .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
    #change_pass_form .form-group >div {
        max-width: 180px;
        width: 100%;
    }
button#change_pass {
    color: #333;
}



/* Responsive */

@media (max-width: 1024px) and (min-width: 768px) {
    #posts_left_block {
        width: 30%;
    }
    .topic-body,
    #create_post_blk {
        width: 70% !important;
    }
}

@media (min-width: 768px) {
    .nav-container:before,
    .nav-container:after {
        content: none;
    }
    .nav-container {
        justify-content: space-between;
        display: flex;
        align-items: flex-end;
    }
    .navbar-collapse {
        width: 100%;
        margin-left: 60px;
        margin-bottom: 5px;
    }
    .content-body {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .nav-right .nav {
        display: flex;
        align-items: center;
    }
    .nav-right {
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    #posts_left_block {
        width: 100% !important;
        margin-left: auto;
        margin-bottom: 20px;
        padding-bottom: 15px;
        display: none;
    }
    .recent_topics li {
        margin-left: 0;
    }
    .show-m {
        display: block;
    }
    .hide-m {
        display: none !important;
    }
    button.navbar-toggle {
        /*visibility: hidden;*/
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-header:before,
    .navbar-header:after {
        content: none;
    }
    .navbar-header {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .navbar-brand {
        height: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: -30px;
    }
    .search-m {
        display: block !important;
    }
    button.menu_toggle {
        color: #fff;
        background: transparent;
        border: 0;
        outline: 0;
    }
    .menu_toggle .fa-search {
        font-size: 2.5rem;
    }
    input.search-m {
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
    }
    ul.recent_topics {
        padding-left: 0;
    }
    .search-wrapper {
        height: 40px;
        display: none;
        margin-bottom: 10px;
    }
    .m-sm-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .p-sm-0 {
        margin: 0 !important;
    }
    .signup_panel,
    .signin_panel {
        margin: auto;
    }
    .signup_blk div input,
    .signin_blk div input {
        width: 80%;
    }
    #create_post_blk {
        margin: 0;
        padding-top: 15px;
    }
    .topic-body {
        width: 100% !important;
    }
    .fpass-text span {
        float: none !important;
        margin-bottom: 10px !important;
        display: block;
        text-align: center;
    }
    .fpass-field {
        text-align: center;
    }
    .panel-default {
        border-radius: 0 !important;
        border: 0;
    }
    .navbar-nav > li {
        margin: 5px 15px;
    }
    .tab_active {
        border-bottom: 0;
    }
    #edit_profile_blk input,
    #edit_profile_blk select {
        width: 100%;
    }
    h3.text-center.edit_prifle {
        margin: 0;
        padding-top: 20px;
    }
    .edit-profile-button {
        text-align: left;
    }
    #edit_profile_blk textarea {
        width: 100%;
    }
    #pic_change {
        margin-left: 0 !important;
    }
    #edit_profile_blk input {
        margin-top: 0;
        margin-bottom: 5px;
    }
    div#edit_profile_blk {
        padding-top: 0;
    }
    .nav-justified > li > a {
        text-align: left;
    }
    input[type=search]:focus {
        width: 100%;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        background: transparent;
    }
    
    #change_pass_form .form-group {
        flex-direction: column;
    }
    .tab_active {
        display: inline-block !important;
    }
}

@media (max-width: 400px) {
    .add-link-button {
        margin-top: -16% !important;
    }
}
